---
http_interactions:
- request:
    method: get
    uri: http://bag-api.dev/postcodes/2611TS.json?huisnummer=88
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"latitude":52.012895866977814,"longitude":4.365448482452786,"straatnaam":"Harmenkokslaan","huisnummer":88,"huisletter":null,"toevoeging":null,"postcode":"2611TS","woonplaats":"Delft","gemeente":"Delft","provincie":"Zuid-Holland"}]'
  recorded_at: Wed, 02 Apr 2014 14:41:42 GMT
recorded_with: VCR 2.9.0
