---
http_interactions:
- request:
    method: get
    uri: http://bag-api.dev/postcodes/2611TS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"latitude":52.012723134767,"longitude":4.365057149093483,"straatnaam":"Harmenkokslaan","postcode":"2611TS","woonplaats":"Delft","gemeente":"Delft","provincie":"Zuid-Holland"}]'
  recorded_at: Thu, 03 Apr 2014 09:35:58 GMT
recorded_with: VCR 2.9.0
